<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <authentication>
                <basicAuthentication enabled="false" />
                <anonymousAuthentication userName="" />
            </authentication>
        </security>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="Default.htm" />
            </files>
        </defaultDocument>
        <httpRedirect enabled="false" destination="https://clients.ic-hosting.com.au" exactDestination="true" httpResponseStatus="Permanent">
            <clear />
        </httpRedirect>
        <httpProtocol>
            <customHeaders>
                <clear />
                <add name="X-Powered-By" value="ASP.NET" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp from="sales@ic-solutions.com.au">
                <network host="localhost" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
